@charset "EUC-KR";
.td_set{
	text-align:center;
}
    .instagram-button {
      display: inline-block;
      padding: 12px 24px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 25px;
      background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
      color: #fff;
      border: 2px solid #fff;
      transition: background 0.3s ease;
    }

    .instagram-button:hover {
      background: linear-gradient(45deg, #e1306c, #fd1d1d, #405de6, #5851db, #833ab4, #c13584);
    }
    .instagram-font {
            font-family: 'Billabong', sans-serif; /* Instagram-like font */
            font-size: 2em;
            color: #405DE6; /* Instagram blue color */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }
.main_body {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.left_body{
	background-color: skyblue;
	margin-right: 100px;
	width: 520px;
	height: 2000px;
	display: flex;
	flex-direction: column;
}

.right_body{
	background-color: yellow;
	width: 280px;
	height: 1000px;
	left: 73%;
	position: fixed;
}

.feed_box{
	background-color: white;
	width: 480px;
	margin: 20px;
	height: 480px;
}

.btn_set{

	position:absolute;
	top:55px;
	left:1360px;
	
}
  .instagram-container {
  			width: 80%;
            text-align: right;
        }
        